<div style="padding-left: 2.5rem;">
<div cdsRow style="background: url(../../assets/home.png) lightgray 50% / cover no-repeat;height: 250px;width: 105%">
  <!-- <div cdsCol [columnNumbers]="{sm: 25, md: 50, lg: 75}" style="width: 100%;">
    <img src="../../assets/home.png" style="height: 350px; width: 100%;">
  </div> -->
  <div ibmCol [columnNumbers]="{'lg': 8, 'md': 12, 'sm': 12}" style="padding-left: 40px;padding-top: 50px;">
    <div>
      <div style="
      font-family: IBM Plex Sans;
      font-size: 54px;
      font-weight: 300;
      line-height: 64px;
      text-align: left;
      ">SDLC Accelerator</div>
    </div>
    <div style="
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    ">Powered by watsonx.ai</div>
    <p class="builder-heading">&nbsp;</p>

    <p class="builder-heading">&nbsp;</p>

  </div>
  <div ibmCol [columnNumbers]="{'lg': 8, 'md': 8, 'sm': 12}">


  </div>
</div>
<p class="builder-heading">&nbsp;</p>

<div cdsRow>
  <div cdsCol class="css-grid-story">
    <div cdsGrid [useCssGrid]="true" [condensed]="condensed" [narrow]="narrow" [fullWidth]="fullWidth">
      <div cdsCol [columnNumbers]="{sm: 3}" style="width:120%">
        <cds-clickable-tile [disabled]="disabled" (click)="changeRoute($event, 'reverse_eng')" target="_blank">
          <div style="padding: 10px;">

            <div style="width: 20%;float: left;padding: 5px;">
              <svg cdsIcon="ibm-watsonx--code-assistant" size="32"></svg>
            </div>

            <div style="width: 80%;float: left;padding: 5px;">
              <div class="heading-02">
                <h4>Reverse Engineering</h4>
              </div>
            </div>

          </div>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div>Reverse engineer the legacy code to generate requirements document</div><BR>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div style="text-align: right;"><svg cdsIcon="arrow--right" size="24" style="fill: #0F62FE"></svg></div>
        </cds-clickable-tile>
      </div>
      <p class="builder-heading">&nbsp;</p>
      <div cdsCol [columnNumbers]="{sm: 3}" style="width:120%">
        <cds-clickable-tile [disabled]="disabled" (click)="changeRoute($event, 'planning')" target="_blank">
          <div style="padding: 10px;">

            <div style="width: 20%;float: left;padding: 5px;">
              <svg cdsIcon="template" size="32"></svg>
            </div>

            <div style="width: 80%;float: left;padding: 5px;">
              <div class="heading-02">
                <h4>Requirements Gathering</h4>
              </div>
            </div>

          </div>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div>Generate user stories and accelerate requirements gathering</div><BR>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div style="text-align: right;"><svg cdsIcon="arrow--right" size="24" style="fill: #0F62FE"></svg></div>
        </cds-clickable-tile>
      </div>
      <p class="builder-heading">&nbsp;</p>
      <div cdsCol [columnNumbers]="{sm: 3}" style="width:120%">
        <cds-clickable-tile [disabled]="disabled" (click)="changeRoute($event, 'testing')" target="_blank">
          <div style="padding: 10px;">

            <div style="width: 20%;float: left;padding: 5px;">
              <svg cdsIcon="request-quote" size="32"></svg>
            </div>

            <div style="width: 80%;float: left;padding: 5px;">
              <div class="heading-02">
                <h4>Functional Test Cases</h4>
              </div>
            </div>

          </div>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div>Generate Functional test cases using Requirements Document</div>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div style="text-align: right;"><svg cdsIcon="arrow--right" size="24" style="fill: #0F62FE"></svg></div>
        </cds-clickable-tile>
      </div>
      <p class="builder-heading">&nbsp;</p>
      <div cdsCol [columnNumbers]="{sm: 3}" style="width:120%">
        <cds-clickable-tile [disabled]="disabled" (click)="changeRoute($event, 'design')" target="_blank">
          <div style="padding: 10px;">

            <div style="width: 20%;float: left;padding: 5px;">
              <svg cdsIcon="screen" size="32"></svg>
            </div>

            <div style="width: 80%;float: left;padding: 5px;">
              <div class="heading-02">
                <h4>Design</h4>
              </div>
            </div>

          </div>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div>Accelerate low level designing as per the finalized requirements</div>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div style="text-align: right;"><svg cdsIcon="arrow--right" size="24" style="fill: #0F62FE"></svg></div>
        </cds-clickable-tile>
      </div>
    </div>
  </div>
</div>
<p class="builder-heading">&nbsp;</p>

<div cdsRow>
  <div cdsCol class="css-grid-story">
    <div cdsGrid [useCssGrid]="true" [condensed]="condensed" [narrow]="narrow" [fullWidth]="fullWidth">
      <div cdsCol [columnNumbers]="{sm: 3}" style="width:120%">
        <cds-clickable-tile [disabled]="disabled" (click)="changeRoute($event, 'development')" target="_blank">
          <div style="padding: 10px;">

            <div style="width: 20%;float: left;padding: 5px;">
              <svg cdsIcon="ibm-watsonx--code-assistant-for-z--refactor" size="32"></svg>
            </div>

            <div style="width: 80%;float: left;padding: 5px;">
              <div class="heading-02">
                <h4>Development</h4>
              </div>
            </div>

          </div>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div>Accelerate application code generation as per the low level design specifications</div><BR>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div style="text-align: right;"><svg cdsIcon="arrow--right" size="24" style="fill: #0F62FE"></svg></div>
        </cds-clickable-tile>
      </div>
      <p class="builder-heading">&nbsp;</p>
      <div cdsCol [columnNumbers]="{sm: 3}" style="width:120%">
        <cds-clickable-tile [disabled]="disabled" (click)="changeRoute($event, 'deployment')" target="_blank">
          <div style="padding: 10px;">

            <div style="width: 20%;float: left;padding: 5px;">
              <svg cdsIcon="deployment-policy" size="32"></svg>
            </div>

            <div style="width: 80%;float: left;padding: 5px;">
              <div class="heading-02">
                <h4>Deployment</h4>
              </div>
            </div>

          </div>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div>Accelerate DevOps pipeline generation</div><BR>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div style="text-align: right;"><svg cdsIcon="arrow--right" size="24" style="fill: #0F62FE"></svg></div>
        </cds-clickable-tile>
      </div>


      <p class="builder-heading">&nbsp;</p>
       <div cdsCol [columnNumbers]="{sm: 3}" style="width:120%">
        <cds-clickable-tile [disabled]="disabled" (click)="changeRoute($event, 'SingleWorkflow')" target="_blank">
          <div style="padding: 10px;">

            <div style="width: 20%;float: left;padding: 5px;">
              <svg cdsIcon="deployment-policy" size="32"></svg>
            </div>

            <div style="width: 80%;float: left;padding: 5px;">
              <div class="heading-02">
                <h4>Single Page Workflow</h4>
              </div>
            </div>

          </div>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div>Streamline your development process with an integrated single workflow</div><BR>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <p class="builder-heading">&nbsp;</p>
          <div style="text-align: right;"><svg cdsIcon="arrow--right" size="24" style="fill: #0F62FE"></svg></div>
        </cds-clickable-tile>
      </div>
      <p class="builder-heading">&nbsp;</p>
    </div>
  </div>
</div>
