
<footer cdsTheme="g100">
    <div class="row primary">
        <div class="column about">
          <div class="social">
            <fa-icon [icon]="faFacebook" size="xs"></fa-icon>&nbsp;&nbsp;
            <fa-icon [icon]="faTwitter" size="xs"></fa-icon>&nbsp;&nbsp;
            <fa-icon [icon]="faGithub" size="xs"></fa-icon>&nbsp;&nbsp;
            <fa-icon [icon]="faLinkedin" size="xs"></fa-icon>
          </div>
          <div class="by">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            Ecosystem Engineering - SI Lab
          </div>
        </div>
    </div>
</footer>