
    <cds-tile style="height: 148px; width: 105%">
        <div style="padding-left: 1rem;">
        <cds-breadcrumb>
            <cds-breadcrumb-item [route]="['home']">Home</cds-breadcrumb-item>
            <cds-breadcrumb-item [current]=true>
                <cds-breadcrumb
                    [noTrailingSlash]=false>{{breadcrumb}}</cds-breadcrumb>
            </cds-breadcrumb-item>
          </cds-breadcrumb>
        <div style="padding-top: 1rem;">
            <div style="color: #000; font-family: IBM Plex Sans;font-size: 42px;font-style: normal;font-weight: 300;line-height: 50px; /* 119.048% */">{{title}}</div>
        </div>
    </div>
      </cds-tile>

